@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* *** Header *** */
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__inner {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 0;
}

.header__content {
  height: 745px;
  background: url("../img/bg.png") no-repeat center/cover;
}

.logo {
  font-size: 28px;
  line-height: 42px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 530px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__link:hover {
  text-decoration: underline;
}

.product-icons {
  width: 148px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-icons__item {
  width: 18px;
}

.trend {
  max-width: 455px;
  float: right;
  margin-top: 430px;
}

.trend__suptitle {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  text-transform: uppercase;
}

.trend__title {
  font-size: 80px;
  line-height: 110px;
  font-weight: 700;
  text-transform: uppercase;
}

.trend__subtitle {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  margin-bottom: 27px;
}

.trend__btn {
  font-size: 18px;
  line-height: 35px;
  font-weight: 500;
  width: 150px;
  height: 35px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.trend__btn-discover {
  margin-right: 53px;
}

/* *** Categories *** */
.category {
  padding: 120px 0 55px;
}

.category__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 265px;
  grid-gap: 25px;
}

.category__grid-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.category__grid-item:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.category__grid-item:nth-child(2) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

/* *** Woman *** */
.woman {
  padding: 55px 0 55px;
}

.block__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.block__subtitle {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  margin: 15px 0 65px;
}

.card {
  outline: none;
  text-transform: uppercase;
}

.card__content {
  padding-top: 35px;
}

.card__img {
  width: 270px;
}

.card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__title {
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
  margin: 38px 0 3px;
}

.card__description {
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 3px;
}

.card__old-price {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: line-through;
}

.card__price {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: #CF2929;
}

.show-dress__text {
  position: absolute;
  bottom: 65px;
  right: 260px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.show-dress__text::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -4px;
  background-color: #000;
}

/* *** Man *** */
.man {
  padding: 55px 0;
}

/* *** Avone *** */
.avone {
  padding: 55px 0;
}

.avone__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 38px;
}

.avone__img-bottom {
  position: absolute;
  bottom: 0;
  right: -38px;
  padding: 22px;
  background-color: #fff;
}

.avone__img-left {
  padding-top: 83px;
}

/* *** Tachen *** */
.tachen {
  margin-top: 60px;
  background: url("../img/tachen-bg.jpg") no-repeat center/cover;
  height: 745px;
}

.tachen__box {
  max-width: 426px;
  padding-top: 436px;
}

.tachen a {
  width: 214px;
  margin-top: 5px;
}

/* *** Footer *** */
.footer {
  padding-top: 115px;
  background-color: #f2f8fc;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 106px;
}

.footer__contact {
  max-width: 406px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}

.footer__contact-social img {
  width: 20px;
}

.footer__contact-text {
  margin: 17px 0 41px;
}

.footer__contact-address {
  margin-bottom: 16px;
  display: inline-block;
}

.footer__contact-social a {
  display: inline-block;
  margin-right: 18px;
  margin-top: 16px;
}

.footer__contact-email {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
}

.footer__contact-email::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.footer__control {
  width: 532px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}

.footer__control-title {
  font-size: 25px;
  line-height: 37px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.footer__control-form {
  margin-bottom: 70px;
  position: relative;
}

.footer__control-form input {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  outline: none;
  border: none;
  padding-left: 24px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.07);
}

.footer__control-form input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.footer__control-form input:focus:-ms-input-placeholder {
  opacity: 0;
}

.footer__control-form input:focus::-ms-input-placeholder {
  opacity: 0;
}

.footer__control-form input:focus::placeholder {
  opacity: 0;
}

.footer__control-form input::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: #22262A;
  font-family: "Poppins", sans-serif;
  -webkit-transform: .2s;
          transform: .2s;
}

.footer__control-form input:-ms-input-placeholder {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: #22262A;
  font-family: "Poppins", sans-serif;
  transform: .2s;
}

.footer__control-form input::-ms-input-placeholder {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: #22262A;
  font-family: "Poppins", sans-serif;
  transform: .2s;
}

.footer__control-form input::placeholder {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: #22262A;
  font-family: "Poppins", sans-serif;
  -webkit-transform: .2s;
          transform: .2s;
}

.footer__control-submit {
  position: absolute;
  right: 20px;
  bottom: 9px;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;
  cursor: pointer;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__nav-item h4 {
  text-align: start;
  margin-bottom: 6px;
}

.footer__nav-item li {
  margin-top: 21px;
}

.footer__privacy {
  padding: 35px 0;
  background-color: #E7F5F8;
}

.footer__privacy p {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */